/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }
  
  .bgimg {
    /* Background image */
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/background_blue_sky.jpg');
    /*background-image: url('../images/background_blue_sky.jpg'); */
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* no repeat*/
    background-repeat: no-repeat;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .center {
    position: absolute;
    bottom: 0;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:aqua;
  }
  
  .middle a {
      text-decoration: none;
  }
  
  .fake_button {
      display: inline-block;
      background: #000;
      border-radius: 4px;
      font-family: "arial-black";
      font-size: 14px;
      color: #FFF;
      padding: 8px 12px;
      cursor: pointer;  
  }
  
  /* style for bottom text in home */
  .bottom-text {
    color:black;
  }
  
  #gameoflife_link {
      color: pink;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }
  
  a:visited {
  color: aqua;
}